<div class="container">
    <h3>Disclaimer</h3>
    <hr />
    <p>Effective Date: 12/25/2024.</p>

    <h4>General Information</h4>
    <p>The information provided on URL SHortener ("Service") is for general informational purposes only. While we strive to ensure the accuracy and reliability of the information on our website, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the Service or the information, products, services, or related graphics contained on the Service for any purpose. Any reliance you place on such information is strictly at your own risk.</p>

    <h4>Links to Third-Party Websites</h4>
    <p>The Service may contain links to third-party websites that are not owned or controlled by URL SHortener. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites. Accessing these third-party sites is at your own risk.</p>

    <h4>No Liability</h4>
    <p>In no event will URL SHortener be liable for any loss or damage, including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of the Service.</p>

    <h4>Usage Responsibility</h4>
    <p>You are solely responsible for the actions you take based on the information or content provided by the Service. Ensure that any links created or shared through our Service comply with applicable laws and do not contain malicious, offensive, or illegal content.</p>

    <h4>Service Availability</h4>
    <p>While we endeavor to keep the Service available and running smoothly, we take no responsibility for, and will not be liable for, the Service being temporarily unavailable due to technical issues beyond our control.</p>

    <h4>Changes to This Disclaimer</h4>
    <p>We reserve the right to update or change this Disclaimer at any time. Any changes will be posted on this page with an updated "Effective Date." It is your responsibility to review this page periodically for updates.</p>

    <h4>Contact Us</h4>
    <p>If you have any questions or concerns about this Disclaimer, please contact us.</p>
</div>