<div class="container">
    <h3>Support Us & Help Us Grow!</h3>
    <hr />
    <p>
        Our URL shortener service is completely free, but maintaining it requires resources. If you love using our platform and want to see more features, improvements, and faster services, we would greatly appreciate your support.
        <br />
        <br />

        Your donation will help us:

        <ul>
            <li>Improve security and reliability.</li>
            <li>Add new features and enhancements.</li>
            <li>Ensure the longevity of the service.</li>
        </ul>
        
        Every contribution, no matter how small, helps us continue delivering a seamless experience for users like you. If you'd like to support us, please consider making a donation.

        <br />
        <br />

        Here are USD account details at Wise.


        <br />
        <br />

        <b>Routing number:</b> 026073150 <br />
        <b>Swift/BIC:</b> CMFGUS33<br />
        <b>Account number:</b> 8314555717<br />
        <b>Bank name and address:</b> Community Federal Savings Bank
        89-16 Jamaica Ave
        Woodhaven NY 11421
        United States

        <br />
        <br />

        Thank you for your generosity and support!
    </p>
</div>